//Colors
$main-color: #ec1839;
$background-first:#f2f2fc;
$background-second:#fdf9ff;
$header-color:#302e4d;
$text-color: #504e70;
$toggler-color: #d4d4e3;
$profile-color: #ffffff;
$footer-color: #7d7d7d;
$progressbar-in: e3e3e3;

//Typo
$body-fonts:'Montserrat', sans-serif;
$text-fonts:'Rubik', sans-serif;

$font-small: 16px;
$font-18: 18px;
$font-logo: 40px;
$font-intro-h1:30px;
$font-footer:13px;
$font-medium:24px;
// Weight
$font-weight-400:400;
$font-weight-500:500;
$font-weight-600: 600;
$font-weight-700:700;
