/*Main*/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	margin: 0;
	background-color: #2D2E2E;
}

/*Button*/
button {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
  }

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }
  
  h1 { font-weight: 400; }
  
  code { 
    color: #e4cb58;
    font: inherit;
  }

  .pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#ef6eae,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

$colors: (
  pulse: #ef6eae, 
);

@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
  }

/*Header*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 600px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
	background: #2B2C2C;
	overflow-y: auto;
	.profile {
		img {
			margin-top: 180px auto;
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 300px;
            border: 10px solid #2B2C2C;
		}
		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: #fff;
				color: #fff;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 50px;
				height: 50px;
				transition: 0.3s;
				&:hover {
					background: #149ddd;
					color: #fff;
					text-decoration: none;
				}
			}
		}
		my-name-wrapper {
			font-weight: 600;
			text-align: center;
			font-size: 28px;
			margin: 0 auto;
			display: block;
		}
		.my-name {
			font-size: 55px;
			display: block;
			margin: 30px 0;
			color: #555;
		}
	}
}
#main {
	margin-left: 300px;
}
@media (max-width: 1199px) {
	#header {
		left: -300px;
	}
	#main {
		margin-left: 0;
	}
}

/*Animation title*/
.text {
	position: absolute;
	text-align: center;
	margin: auto;
	font-weight: 600;
	font-size: 28px;
	width: 450px;
	
	margin-left: -80px;
	height: 40px;

}
p {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.word {
	position: absolute;
	width: 300px;
	opacity: 0;
}
.letter {
	display: inline-block;
	position: relative;
	float: left;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
}
.letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
	transform: rotateX(-90deg);
}
.letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wisteria {
	color: #8e44ad;
}
.belize {
	color: #2980b9;
}
.pomegranate {
	color: #c0392b;
}


