/*Main*/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	margin: 0;
	background-color: #2D2E2E;
}

/*Button*/
a {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #ffb400;
    }
  }



/*Header*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 600px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
	background: #2B2C2C;
	overflow-y: auto;
	.profile {
		img {
			margin-top: 180px auto;
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 300px;
            border: 10px solid #2B2C2C;
		}
		.social-links {
			a {
				background: none;
				border: 2px solid;
				font: inherit;
				font-size: 18px;
				display: inline-block;
			   line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 50px;
				height: 50px;
				transition: 0.3s;
			  }
			  
			  h1 { font-weight: 400; }
			  
			  code { 
				color: #ffb400;
				font: inherit;
			  }
			
			  .pulse:hover, 
			.pulse:focus {
			  animation: pulse 1s;
			  box-shadow: 0 0 0 2em rgba(#ffb400,0);
			}
			
			@keyframes pulse {
			  0% { box-shadow: 0 0 0 0 var(--hover); }
			}
			
			$colors: (
			  pulse: #ffb400, 
			);
			
			@each $a, $color in $colors {
				.#{$a} {
				  --color: #{$color};
				  --hover: #{adjust-hue($color, 45deg)};
				}
			  }
		}
		my-name-wrapper {
			font-weight: 600;
			text-align: center;
			font-size: 28px;
			margin: 0 auto;
			display: block;
		}
		.my-name {
			font-size: 55px;
			display: block;
			margin: 30px 0;
			color: #555;
		}
	}
}
#main {
	margin-left: 300px;
}
@media (max-width: 1199px) {
	#header {
		left: -300px;
	}
	#main {
		margin-left: 0;
	}
}

/*Animation title*/
.text {
	position: absolute;
	text-align: center;
	margin: auto;
	font-weight: 600;
	font-size: 28px;
	width: 450px;
	
	margin-left: -80px;
	height: 40px;

}
p {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.word {
	position: absolute;
	width: 300px;
	opacity: 0;
}
.letter {
	display: inline-block;
	position: relative;
	float: left;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
}
.letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
	transform: rotateX(-90deg);
}
.letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wisteria {
	color: #ffb400;
}
.belize {
	color: #ffb400;
}
.pomegranate {
	color: #ffb400;
}

/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
	i {
		color: #149ddd;
	}
}
.mobile-nav-active {
	overflow: hidden;
	#header {
		left: 0;
	}
	.mobile-nav-toggle {
		i {
			color: #fff;
		}
	}
}

/*Main */

#home {
	width: 100%;
	height: 100vh;
	background-color: #2D2E2E;
	background-size: cover;
	&:before {
		content: "";
		background: #2D2E2E;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	.home-container {
		position: relative;
		z-index: 2;
		min-width: 300px;
	}
	h1 {
		margin: 0 0 10px 0;
		font-size: 64px;
		font-weight: 700;
		line-height: 56px;
		color: #fff;
	}
	p {
		color: #fff;
		margin-bottom: 50px;
		font-size: 15px;
		font-family: "Poppins", sans-serif;
		span {
			color: #fff;
			padding-bottom: 4px;
			letter-spacing: 1px;
			border-bottom: 3px solid #149ddd;
		}
	}
}
@media (min-width: 1024px) {
	#home {
		background-attachment: fixed;
	}
}
@media (max-width: 768px) {
	#home {
		h1 {
			font-size: 28px;
			line-height: 36px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 30px;
		}
	}
}


/*end Main*/

