@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .full-container {
    @apply max-w-2xl mx-auto px-6
  }

  .bg-color-primary {
    @apply bg-slate-200 dark:bg-slate-600
  }

  .bg-color-secondary {
    @apply bg-slate-300 dark:bg-gray-700
  }

  .text-color-primary {
    @apply text-gray-700 dark:text-slate-100
  }

  .text-color-secondary {
    @apply text-slate-500 dark:text-slate-300
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


body {
  padding: 0;
  margin: 0;
  @apply bg-color-primary text-color-primary
}


.lang {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}