/*General*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@500;700;900&display=swap');

/*
color
$main-color: #ec1839;
$background-first:#f2f2fc;
$background-second:#fdf9ff;
$header-color:#302e4d;
$text-color: #504e70;
$toggler-color: #d4d4e3;
$profile-color: #ffffff;
$footer-color: #7d7d7d;
*/

body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.section{
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding:  0 30px;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ec1839;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: #ec1839;
}

.row{
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.main-content{
    padding-left: 270px;
}
::before, ::after{
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.shadow-dark{
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.btn{
    background-color: #ec1839;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    padding: 12px 35px;
    color: #ffffff;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
}

.btn:hover{
    -webkit-transform: scale(1.1);;
    transform: scale(1.1);
}

/*.hidden{
    display:none!important;
}*/

/* Side */

.sidebar{
    width: 270px;
    background-color: #fdf9ff;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #e8dfec;
    padding: 30px;
}

.sidebar .logo{
    padding: 30px 0;
}

.sidebar .logo a{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    line-height: 50px;
}

.sidebar .logo a::before{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top:0;
    border-top: 4px solid #ec1839;
    left: 0;
    border-left: 4px solid #ec1839;
}

.sidebar .logo a::after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom:0;
    border-bottom: 4px solid #ec1839;
    right: 0;
    border-right: 4px solid #ec1839;
}

.sidebar .nav-toggler{
    height: 40px;
    width: 45px;
    border:1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 30px;
    z-index: 11;
    border-radius: 5px;
    background-color: fdf9ff;
    /*display: -ms-flexbox;
    display: flex;*/
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.sidebar .nav-toggler span{
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
    background-color: #ec1839;
}

.sidebar .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top:-6px;
    left: 0;
    background-color: #ec1839;
}

.sidebar .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top:6px;
    left: 0;
    background-color: #ec1839;
}

.sidebar .nav{
    list-style: none;
    margin: 80px 0;
    padding: 0;
}

.sidebar .nav li{
    display: block;
}

.sidebar .nav li a{
    font-size: 16px;
    font-weight: 600;
    color: #302e4d;
    text-decoration: none;
    line-height: 45px;
    display: block;
    border-bottom: 1px solid #e8dfec;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.sidebar .nav li a:not(.active):hover{
    padding-left: 5px;
    color: #ec1839;
}

.sidebar .nav li a:hover,
.sidebar .nav li a.active{
    color: #ec1839;
}

.sidebar .nav li a #icon{
    margin-right: 5px;
}


.sidebar .copyright-text{
    font-size: 13px;
    color: #7d7d7d;
}


/*Home*/

.home{
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
}

.home .intro{
    text-align: center;
}

.home .intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #ffffff;
}

.home .intro h1{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 20px 0  5px;
}

.home .intro p{
    font-size: 16px;
    font-weight: 500;
    margin:0;
    line-height: 22px;
    color: #504e70;
}

.home .intro .social-links{
    margin-top: 25px;
}

.home .intro .social-links a{
    height: 35px;
    width: 35px;
    color: #302e4d;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home .intro .social-links a:hover{
    
    color: #ec1839
}

/*About*/

.about .about-content{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #302e4d;
}

.about .about-content .about-text h3 span{
    color: #ec1839;
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
}

.about .about-content .info{
    -ms-flex: 0 0 60%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .info .info-item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    margin:0;
    color: #302e4d;
    border-bottom: 1px solid #e8dfec;
}

.about .about-content .info .info-item p span{
    font-weight: 400;
    color: #504e70;
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .info .buttons{
    margin-top: 30px;
}

.about .about-content .info .info-item .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}

/*skills*/
.about .about-content .skills{
    -ms-flex: 0 0 60%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.about .about-content .skills .skill-item h5{
 line-height: 40px;
 font-weight: 600;
 padding: 10px 0;
 font-size: 16px;
 color: #302e4d;
 text-transform: capitalize;
 margin: 0;
}

.about .about-content .skills .skill-item .progress{
    background-color: #e3e3e3;
    height: 8px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #ec1839;
}

.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    top:-40px;
    font-weight: 400;
    color: #302e4d;
}

.about .about-content .education{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content .experience{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3 .title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
}

.about .about-content .timeline-box{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;   
}

.about .about-content .timeline{
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
    top: 0;
    left: 0px;
    background-color: #ec1839;
    border-radius: 50%;
}

.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: #504e70;
}

.about .about-content .timeline .timeline-date #resume-icon{
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #302e4d;
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0px;
}

.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #ec1839;
}

.about .about-content .timeline .timeline-text{
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    margin: 0;
    padding-bottom: 50px;
}