//!IMPORT SCSS VARIABLES
@import "./variables";

//* Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// !General

body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.heading {
  font-weight: 400;
  color: $secondary-color;
}

// ! BUTTON

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $secondary-color;
    transition: all 0.5s ease-out;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

.menu-portrait {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: $background-primary;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;

  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.menu-portrait {
  background: $background-secondary;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;

  &.show {
    transform: translate3d(0, 0, 0);
  }

  .portrait {
    width: 250px;
    height: 250px;
    background: url(../../dist/images/f7b8b64b0a5738848b09f846f080eeb9.jpg);
    border-radius: 50%;
    border: solid 3px $primary-color;
  }
}

.menu {
  .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $primary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: $secondary-color;
    text-decoration: none;
    transition: all 0.5s ease-out;

    &:hover {
      color: $primary-color;
      transform: scale(1.25);
    }
  }
}

.nav-item {
  &:nth-child(1) {
    transition-delay: 0.1s;
  }

  &:nth-child(2) {
    transition-delay: 0.2s;
  }

  &:nth-child(3) {
    transition-delay: 0.3s;
  }

  &:nth-child(4) {
    transition-delay: 0.4s;
  }
}

// !Home

.home {
  /*background-color: $background-primary;*/
  background: url(../../dist/images/259b7f5f2209f074a91dc61ec4bb4c18.gif);
  background-size: cover;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 0 30px;

  .container {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;

  .intro {
    text-align: center;

    h1 {
      font-size: 30px;
      color: $secondary-color;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      margin: 20px 0 5px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      line-height: 22px;
      color: $secondary-color;
      font-family: "Lato", sans-serif;
    }

    .social-links {
      margin-top: 25px;

      a {
        height: 35px;
        width: 35px;
        color: $secondary-color;
        display: inline-block;
        text-align: center;
        line-height: 35px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// ! Home - RESPONSIVE

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }

  ul.menu-nav,
  div.menu-portrait {
    float: none;
    width: 100%;
    min-height: 0;
  }

  ul.menu-nav.show,
  div.menu-portrait.show {
    transform: translate3d(0, 0, 0);
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-portrait {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../../dist/images/d32706500b7c4b940c19574d44f4529e.jpg);
      width: 150px;
      height: 150px;
    }
  }
}

// ! About

// * About - Intro

.about {
  float: left;
  width: 100%;
  padding: 80px 0px;
  background-color: $background-primary;
}

h2.title {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 0;
  padding-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
  position: relative;
  letter-spacing: 0.5px;
}

.about .about-content {
  width: 100%;
  float: left;

  .img {
    float: left;
    width: 35%;
    padding: 15px;

    #profile {
      width: 100%;
      border: 10px solid$primary-color;

      /*background: url(./img/avatar.jpg);*/
    }
  }

  .description {
    float: left;
    width: 65%;
    padding: 15px;

    h4 {
      font-size: 20px;
      font-family: "Lato", sans-serif;
      color: $secondary-color;
      margin: 0;
      padding-bottom: 10px;
      font-weight: 400;
    }

    h5 {
      font-size: 25px;
      color: $secondary-color;
      font-family: "Lato", sans-serif;
      margin: 0;
      padding-bottom: 10px;
      font-weight: 600;
    }

    p {
      color: $secondary-color;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.5px;
      text-align: left;
      font-weight: 400;

      button {
        margin-right: 10px;
        margin-top: 20px;
      }
    }
  }
}

/*#profile{
   background: url(./img/avatar.jpg);
  }*/

.btn {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  &::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  padding: 12px 40px;
  border: 3px solid$primary-color;
  border-radius: 5px;
  color: $secondary-color;
  font-size: 16px;
  font-weight: 400;
  background: none;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.5s ease;

  &::before,
  &::after {
    background: $primary-color;
    color: $background-primary;
    content: "";
    position: absolute;
    z-index: -1;
  }

  &:hover {
    color: $primary-color;
  }

  &::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
  }

  &:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}

// * ABOUT - TECH

.tech {
  float: left;
  width: 100%;
  padding: 80px 0px;
  background-color: $background-secondary;

  .tech-content {
    width: 100%;
    float: left;

    .card {
      width: 33.33%;
      float: left;
      padding: 15px;

      .box {
        background-color: #353535;
        padding: 30px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          height: 3px;
          width: 0;
          background-color: $primary-color;
          z-index: 1;
          transition: width 0.5s ease;
        }

        &:hover::before {
          width: 100%;
        }

        .icon {
          text-align: center;
          font-size: 40px;
          color: $primary-color;
        }

        h3 {
          font-size: 20px;
          color: $secondary-color;
          text-align: center;
          margin: 20px 0 10px;
          font-weight: 600;
        }

        p {
          color: $secondary-color;
          font-size: 16px;
          line-height: 25px;
          letter-spacing: 0.5px;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}

// * ABOUT - Skills

.skills {
  float: left;
  width: 100%;
  padding: 80px 0px;
  background-color: $background-primary;

  .skills-content {
    float: left;
    width: 100%;

    .card {
      width: 50%;
      float: left;
      padding: 0px 15px;
      margin-bottom: 50px;

      label {
        font-size: 16px;
        color: $secondary-color;
        font-weight: 600;
        display: block;
        text-align: left;
        margin: 15px 0;
      }

      .progress {
        height: 10px;
        width: 100%;
        border-radius: 4px;
        background-color: $background-secondary;
        position: relative;

        .inner {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background-color: $primary-color;
          border-radius: 4px;
        }

        &::before {
          content: attr(data-text);
          position: absolute;
          right: 0px;
          top: -30px;
          color: $secondary-color;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}

// ! About - Responsive
@media (max-width: 767px) {
  .about .about-content {
    .img,
    .description {
      width: 100%;
    }
  }

  .tech .tech-content .card {
    width: 50%;
  }

  .skills .skills-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .tech .tech-content .card {
    width: 100%;

    .box h3 {
      min-height: auto;
    }
  }
}

// !Portfolio

.masonry {
  float: left;
  width: 100%;
  padding: 80px 0px;
  background-color: $background-primary;
}

h2.title {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 0;
  padding-bottom: 70px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
  position: relative;
  letter-spacing: 0.5px;
}

.masonry .masonry-container {
  width: 100%;
  float: left;
}

.portfolio {
  float: left;
  width: 100%;
  padding: 80px 0px;
  background-color: #292929;

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    //grid-template-areas: ". . ." ". . ." ". . .";

    .card {
      //float: left;
      //width: 33.33%;
      padding: 15px;

      .box {
        background-color: #353535;
        padding: 15px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0px;
          height: 3px;
          width: 0;
          background-color: $primary-color;
          z-index: 1;
          transition: width 0.5s ease;
        }

        &:hover::before {
          width: 100%;
        }

        h3 {
          margin: 0;
          padding: 15px 0 5px;
          color: $secondary-color;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.5px;
        }

        h4 {
          margin: 0;
          padding: 5px 0px 25px;
          color: $primary-color;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

.btn-github,
.btn-view {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover,
.btn-github:hover,
.btn-view:hover {
  background: $primary-color;
  color: #242526;
}

.btn-github {
  background: #242526;
  color: $secondary-color;
}

.btn-view {
  background: $secondary-color;
  color: #242526;
}

// !PORTFOLIO - RESPONSIVE
@media (max-width: 767px) {
  .portfolio .portfolio-content .card {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .portfolio .portfolio-content .card {
    width: 100%;
  }
}

// !Footer

footer {
  float: left;
  width: 100%;
  background-color: $background-secondary;
  padding: 50px 0px;

  .footer-content {
    float: left;
    width: 100%;
  }

  .social {
    float: left;
    width: 100%;
    text-align: center;
    border-top: 1px solid $background-secondary;
    padding-top: 15px;

    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        display: inline;

        a {
          display: inline-block;
          padding: 15px 15px;

          span {
            display: inline-block;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid$primary-color;
            color: $primary-color;
            line-height: 38px;
            text-align: center;
            font-size: 16px;
            transition: all 0.5s ease;

            &:hover {
              background-color: $primary-color;
              color: $background-secondary;
            }
          }
        }
      }
    }
  }

  .footer-content .box {
    width: 33.33%;
    float: left;
    padding: 15px;
    text-align: center;

    .icon span {
      color: $primary-color;
      font-size: 30px;
    }

    h4 {
      font-size: 16px;
      color: $secondary-color;
      margin: 0;
      font-weight: 600;
      text-transform: uppercase;
      padding: 20px 0 0px;
    }

    p {
      color: $secondary-color;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.5px;
      font-weight: 400;
      padding: 10px 0;
      margin: 0px;
    }
  }
}

// ! Footer - Responsive
@media (max-width: 500px) {
  footer .footer-content .box {
    width: 100%;
  }
}
